@import url("reset.css");
@font-face {
  font-family: "Daft-Brush";
  src: url("../fonts/Daft-Brush.otf");
}
@font-face {
  font-family: "Ample-soft";
  src: url("../fonts/FontsFree-Net-AmpleSoftPro.ttf");
}
header {
  background-color: white;
  /* Pour le border raidus mais que en bas*/
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: #ff0000;
  padding: 15px;
}
.navHeader {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
}
#liHeader {
  width: 40%;
}
/* Pour retiré les boutons */
#liHeader ul {
  list-style: none;
}
/* Pour crée des boutons en couleur gris peut opaque */
#liHeader ul li::before {
  color: gray;
  opacity: 0.3;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.navHeader ul {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 25px;
  list-style-type: circle;
  font-weight: 500;
}
.ImgGaucheHeaer {
  margin-left: 5%;
  margin-right: -35%;
}
.HeaderSlogant {
  width: 25%;
  height: 25%;
}
.HeaderLogo {
  width: 13%;
}
.ButtonRight {
  width: 20%;
}

h1 {
  font-size: 78px;
  margin-bottom: 48px;
  text-align: center;
  font-family: "Daft-Brush";
}

/* BACKGROUND SECTION */
.black_section {
  background: #0c0422;
  margin: 0 auto;
  padding: 0 32px;
  height: 80vh;
}

.first_section {
  padding: 85px 0 80px;
  background: #f9dc80;
}

.first_section h1 {
  color: #009fe3;
}

.second_section {
  padding: 85px 0 80px;
  background: #f1d4bc;
}

.second_section h1 {
  color: #7140af;
}

/****** Black section ******/
.black_section h1,
h3 {
  text-align: left;
  color: white;
  font-family: "Daft-Brush";
}
.black_section h3 {
  font-size: 40px;
}
.black_section p {
  color: grey;
}

.container_black img {
  border-radius: 50%;
  height: 570px;
}
.container_black {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** Cards container ******/

.container_card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/****** Card first section *******/

.maped_card {
  background-color: white;
  width: 20%;
  border-radius: 25px;
  padding: 25px 60px;
  text-align: center;
  cursor: pointer;
}

.maped_card h3 {
  font-family: "Ample-soft", serif;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.maped_card p {
  font-family: "Ample-soft";
  color: red;
  margin: 20px 0;
}

.maped_card img {
  object-fit: cover;
  height: 300px;
}

.maped_card button {
  font-family: "Ample-soft";
  background: red;
  border-radius: 50px;
  color: white;
  padding: 20px;
  border: none;
  font-size: 16px;
}

/****** Discover card *******/

.discover_card {
  background-color: white;
  width: 25%;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.discover_card img {
  object-fit: cover;
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.discover_card p {
  text-transform: uppercase;
  color: red;
  font-size: 14px;
}

h6,
p {
  font-family: "Ample-soft";
  font-size: 24px;
  margin: 0 0 8px;
}

.title_card {
  padding: 20px 22px 32px;
}
